html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}
.clinic-row {
    border-bottom: 1px solid #b2b2b2;
    padding-top: 10px;
    padding-bottom: 10px;
}
#map{
  width: 100%;
  height: 320px;
}
.main-text{
    padding: 10px;
}
.call-to-action-wrap{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-wrap: wrap;
    height: 86px;
}
.call-to-action-wrap div{
    margin-bottom: 20px;
}
.support-phone{
    font-family: 'Montserrat', sans-serif;
    color: #0060B0;
    margin: 0 0 0 20px;
    line-height: 20px;
}
.support-phone span{
    font-weight: 700;
    font-size: 40px;
}
.call-to-action{
    font-family: 'Roboto', sans-serif;
    text-align: right;
    margin: 0;
}
.logo-img{
    width: 100%;
}

@media screen and (max-width: 995px) { 
    .call-to-action-wrap{
        height: inherit;
    }
    .call-to-action-wrap div {
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 768px) { 
    .logo-img{
        width: inherit;
    }
    .call-to-action-wrap{
        float: none !important
    }
}

@media screen and (max-width: 558px) {
    .logo-wrap{
        text-align: center;
    }
    .call-to-action-wrap{
        display: flex;
        justify-content: center;
    }.support-phone span {
        font-size: 20px;
    }    
}

@media screen and (max-width: 472px) {
    .call-to-action {
        text-align: center;
    } 
    .support-phone {
        margin: 0 20px;
    }
}